In [9]:
import pandas as pd
import numpy as np

In [10]:
file_to_load = "../../Data/Zip Code Data.csv"

In [11]:
zip_df = pd.read_csv(file_to_load)

In [12]:
zip_df.head()

,Zip,LAT,LNG,Num_Disp,LA_City,Total_Pop,Percent_Under_18_Years,Percent_Ages_18_to_24,Percent_18_and_Older,Percent_21_and_Older,...,Pct_Female,Females_Median_Age,Total_Households,Households_with_Children,Pct_Households_with_Children,Pct_Owner_Occupied,Pct_Renter_Occupied,Household_Median_Income,Household_Median_Inc_Quintiles,Pct_Earned_Income_Past_12_Months
0,92258.0,NaN,NaN,NaN,No,559,8.8,7.7,91.2,91.2,...,41.0,36,216,45,20.8,60.2,39.8,10938,Quintile 1,45.8
1,95202.0,NaN,NaN,NaN,No,6066,24.6,6.4,75.4,73.4,...,51.8,37,2926,438,15.0,5.8,94.2,14822,Quintile 1,44.1
2,96075.0,NaN,NaN,NaN,No,350,0.0,5.1,100.0,100.0,...,29.7,56.5,159,0,0.0,83.0,17.0,16875,Quintile 1,45.3
3,92266.0,NaN,NaN,NaN,No,112,0.0,0.0,100.0,100.0,...,24.1,-,75,0,0.0,90.7,9.3,19438,Quintile 1,38.7
4,93207.0,NaN,NaN,NaN,No,256,16.8,7.8,83.2,75.4,...,50.8,62.4,114,16,14.0,93.0,7.0,20667,Quintile 1,30.7

In [13]:
#Get rid of decimals for zip codes
zip_df['Zip'] = zip_df['Zip'].astype(str).apply(lambda x: x.replace('.0',''))

In [14]:
zip_df.head()

,Zip,LAT,LNG,Num_Disp,LA_City,Total_Pop,Percent_Under_18_Years,Percent_Ages_18_to_24,Percent_18_and_Older,Percent_21_and_Older,...,Pct_Female,Females_Median_Age,Total_Households,Households_with_Children,Pct_Households_with_Children,Pct_Owner_Occupied,Pct_Renter_Occupied,Household_Median_Income,Household_Median_Inc_Quintiles,Pct_Earned_Income_Past_12_Months
0,92258,NaN,NaN,NaN,No,559,8.8,7.7,91.2,91.2,...,41.0,36,216,45,20.8,60.2,39.8,10938,Quintile 1,45.8
1,95202,NaN,NaN,NaN,No,6066,24.6,6.4,75.4,73.4,...,51.8,37,2926,438,15.0,5.8,94.2,14822,Quintile 1,44.1
2,96075,NaN,NaN,NaN,No,350,0.0,5.1,100.0,100.0,...,29.7,56.5,159,0,0.0,83.0,17.0,16875,Quintile 1,45.3
3,92266,NaN,NaN,NaN,No,112,0.0,0.0,100.0,100.0,...,24.1,-,75,0,0.0,90.7,9.3,19438,Quintile 1,38.7
4,93207,NaN,NaN,NaN,No,256,16.8,7.8,83.2,75.4,...,50.8,62.4,114,16,14.0,93.0,7.0,20667,Quintile 1,30.7

In [17]:
la_city_df = zip_df.loc[(zip_df['LA_City']=="Yes")]

In [20]:
la_city_df.head()

,Zip,LAT,LNG,Num_Disp,LA_City,Total_Pop,Percent_Under_18_Years,Percent_Ages_18_to_24,Percent_18_and_Older,Percent_21_and_Older,...,Pct_Female,Females_Median_Age,Total_Households,Households_with_Children,Pct_Households_with_Children,Pct_Owner_Occupied,Pct_Renter_Occupied,Household_Median_Income,Household_Median_Inc_Quintiles,Pct_Earned_Income_Past_12_Months
9,90021,34.030124,-118.241779,44.0,Yes,2945,11.3,5.7,88.7,86.8,...,38.4,35.2,1734,171,9.9,9.0,91.0,21635,Quintile 1,25.4
11,90058,34.001842,-118.221127,9.0,Yes,2718,41.1,10.4,58.9,53.1,...,58.1,25.3,706,336,47.6,12.0,88.0,21964,Quintile 1,40.9
13,90013,34.046022,-118.246250,2.0,Yes,12559,3.2,5.5,96.8,96.1,...,36.5,40.6,7308,256,3.5,7.8,92.2,22316,Quintile 1,20.2
29,90007,34.028334,-118.285077,4.0,Yes,42433,14.2,38.3,85.8,69.4,...,48.4,25.1,11919,2213,18.6,12.3,87.7,27406,Quintile 1,41.6
97,90037,34.003494,-118.287097,1.0,Yes,67640,27.8,11.0,72.2,67.8,...,49.8,32.2,17699,6455,36.5,24.1,75.9,35424,Quintile 1,51.4